@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body {
    background: #a7c7c3;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi-bold {
    font-weight: 500;
    font-size: 16px;
}

.resume {
    width: 800px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    margin: 50px auto;
    border: 3px solid #b4ab24;
    border-radius: 5px;
}

.resume_left {
    width: 280px;
    background: #918a27;
}

.resume_profile {
    width: 80%;
    height: 220px;
    align-items: center;
    margin: 5px auto;
    
    
}

.resume_profile img {
    width: 100%;
    height: 100%;
    transition: .5s ease 0s;
    overflow: hidden;
    border: 5px solid #b4ab24;
    border-radius: 50%;
}   

.resume_profile img:hover {
    transform: scale(1.3);
}

.resume_content {
    padding: 0 25px;
}

.title {
    margin-bottom: 20px;
}

.bold {
    color: #fff;
}

.regular {
    color: #b1eaff;
}

.resume_item {
    padding: 25px 0;
    border-bottom: 2px solid goldenrod  ;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
    border-bottom: 0px;
}

.resume_left ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.resume_left ul li:last-child {
    margin-bottom: 0;
}

.resume_left ul li .icon {
    width: 35px;
    height: 35px;
    background: #fff;
    color: goldenrod;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.icon i,
.resume_right .resume_hobby ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.data {
    color: #b1eaff;
}
.data a{
    color: #b1eaff;
}
.data a:hover{
    color: goldenrod;
    text-decoration: underline;
}
.resume_left .resume_skills ul li {
    display: flex;
    margin-bottom: 10px;
    color: #b1eaff;
    justify-content: space-between;
    align-items: center;
}

.resume_skills ul li .skill_name {
    width: 25%;
}

.resume_left .resume_skills ul li .skill_progress {
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
}

.resume_left .resume_skills ul li .skill_per {
    width: 15%;
}

.resume_left .resume_skills ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
}

.resume_left .resume_social .semi-bold {
    color: #fff;
    margin-bottom: 3px;
}

.resume_right {
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume_right .bold {
    color: #918a27;
}

.resume_right .resume_work ul,
.resume_right .resume_education ul {
    padding-left: 40px;
    overflow: hidden;
}

.resume_right ul li {
    position: relative;
}

.resume_right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.resume_right ul li .info {
    margin-bottom: 20px;
}

.resume_right ul li:last-child .info {
    margin-bottom: 0;
}

.resume_hobby ul {
    display: flex;
    justify-content: space-between;
}

.resume_right .resume_hobby ul li {
    width: 80px;
    height: 80px;
    border: 2px solid #918a27;
    border-radius: 50%;
    position: relative;
    color: goldenrod;
}

.resume_hobby ul li i {
    font-size: 30px;
}